body {
  font-family: "Roboto", sans-serif;
  color: #434455;
}
main {
  flex-grow: 1;
}
.page-container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.text-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
}
.text-logo:hover {
  color: #404bbf;
}
.text-logo:focus {
  color: #404bbf;
}
.text-logo .second-prt-logo-header {
  color: #2e2f42;
}

.text-logo .second-prt-logo-footer {
  color: #f4f4fd;
}
.navigation {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-decoration: none;
}
.navigation:hover {
  color: #404bbf;
}
.navigation:focus {
  color: #404bbf;
}
.contacts {
  font-style: normal;
}
.our-contacts {
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
  font-style: normal;
}
.our-contacts:hover {
  color: #404bbf;
}
.our-contacts:focus {
  color: #404bbf;
}
body {
  background-color: #fff;
}
.start-page {
  background-color: #2e2f42;
}
.start-name {
  font-family: inherit;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}
.button {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  font-size: 16px;
  background: #4d5ae5;
  cursor: pointer;
}
.button:hover {
  background-color: #404bbf;
}
.button:focus {
  background-color: #404bbf;
}
.our-team {
  background-color: #f4f4fd;
}
.features-name {
  font-family: inherit;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}
.headlines {
  font-family: inherit;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.descriptions {
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.employee {
  background-color: #ffffff;
}

.our-portfolio h3 {
  font-family: inherit;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.our-portfolio p {
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.footer {
  background-color: #2e2f42;
}
.footer-description {
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
